@{
    Layout="_MasterLayout";
    ViewData["HeadTitle"]="Giỏ hàng";
}
@model List<QuanLyBanSach.Models.SachViewModels.GioHangViewModel>

@if(Model.Count >0)
{
    <section id="cart_items">
        <div class="container">
            <div class="table-responsive cart_info">
				<table class="table" style="margin-bottom:0px ">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description">Tên sách</td>
							<td class="price">Đơn giá</td>
							<td class="quantity">Số lượng</td>
							<td class="total">Tổng tiền</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
                        @foreach(var item in Model)
                        {
                            <tr>
                                <td class="cart_product">
                                   <img src="~/images/Sach/@item.Sach.HinhAnh" class="" alt="">
                                </td>
                                <td class="cart_description">
                                    <h4><a href="">@item.Sach.TenSach</a></h4>
                                    <p>Web ID: @item.Sach.id</p>
                                </td>
                                <td class="cart_price">
                                    <p>@item.Sach.DonGia</p>
                                </td>
                                <td class="cart_price">
                                    <div class="cart_quantity_button">
                                        <p type="text" data-sachid="@item.Sach.id" class="cart_quantity_input">@item.SoLuong</p>
                                    </div>
                                </td>
                                <td class="cart_total">
                                    <p class="cart_total_price">@item.ThanhTien</p>
                                </td>
                                <td class="cart_delete">
                                    <a class="cart_quantity_delete" asp-route-SachId="@item.Sach.id" asp-action="XoaGioHang" asp-controller="GioHang"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        }
					</tbody>
                    <tfoot class="cart_menu">
                        <tr>
                            <td colspan="4">Thành tiên</td>
                            <td>
                                @Model.Sum(x=>x.ThanhTien).ToString("#,0")
                            </td>
                            <td></td>
                        </tr>
                    </tfoot>
				</table>
			</div>
		</div>
    </section>
    <section id="do_action">
		<div class="container">
			<div class="heading">
				<h3>Thanh Toán hóa đơn</h3>
			</div>
            <div class="chose_area" style="padding-left: 25px">
                @await Component.InvokeAsync("ThanhToanHoaDon")
            </div>
			</div>
	
	</section><!--/#do_action-->

}
else
{
    <section id="cart_items">
        <div class="container">
    <h3>
        Bạn chưa có món hàng nào trong giỏ hàng
    </h3>
    
    <a asp-action="Index" asp-controller="Home" class="btn btn-default add-to-cart" >Trở về trang chủ</a>
    </div>  
    </section>
}

@section Scripts
{
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script>
        var frmGhiChu = document.getElementById("frmThanhToan_ghiChu");
        if(frmGhiChu)
        {
            CKEDITOR.replace(frmGhiChu,{
                customConfig:"/js/ckEditor.config.js"
            });
        }
        $(function() {
            $(".cart_quantity_input").keypress((e)=>{
                if(e.keyCode<48 || e.keyCode>57)
                    e.preventDefault();
                
            });
            
        })
    </script>
}