@*using QuanLyBanSach.Models*@
@*model List<Sach>*@
@using X.PagedList.Mvc.Core;
@using X.PagedList; 
@*@using X.PagedList;*@

<div class="features_items"><!--features_items-->
    <h2 class="title text-center">@ViewData["Title"]</h2>
    <div class="row">
    @foreach(var item in Model)
    {
        <div class="col-sm-4" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="~/images/Sach/@item.HinhAnh" style="height: 100%; width:auto; max-height:130px" alt="" />
                        <h2>@((item.DonGia*(100 - item.PhanTramGiamGia)/100).ToString("#,0"))Đ</h2>
                        <p title="@item.TenSach">@item.TenSach</p>
                    </div>
                </div>
                <div class="choose">
                    <ul class="nav nav-pills nav-justified">
                        <li><a asp-controller="Wishlist" asp-area="Users" asp-action="ThemVaoWishList" data-id="@item.id" class="ThemVaoWishList"><i class="fa fa-plus-square"></i>Thêm vào wishlist</a></li>
                        <li><a asp-controller="Sach" asp-action="index" asp-route-id="@item.id" asp-route-TenSach="@item.TenSach.Replace(" ","-")"><i class="fa fa-info"></i>Chi tiêt sản phẩm</a></li>
                    </ul>
                </div>
            </div>
        </div>
    }
    </div>
    
</div><!--features_items-->
@*Html.PagedListPager( myList, page => Url.Action("Index", new { page = page}) )*@
<div class="text-right">
    @Html.PagedListPager( (IPagedList)Model, page => Url.Action("Index", new { page }) )
</div>
@if(TempData["Message"]!=null)
{
    <script>
        alert("@Html.Raw(TempData["Message"])");
    </script>
}
