@model IEnumerable<NhaXuatBan>
@{
    ViewData["HeadTitle"]="Quản lý nhà xuất bản";
}
<section class="content-header">
   <h1>quản lý nhà xuất bản</h1>
</section>

<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-8 col-xs-12">
            <!-- small box -->
            <div class="box box-primary">
                <div class="box-header box-border">
                     <h3 class="box-title">
                        DANH SÁCH NHÀ XUẤT BẢN
                    </h3>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-responsive" id="tb_nhaxuatban">
                        <thead>
                            <tr>
                                <th>Mã Nhà xuất bản</th>  
                                <th>Tên nhà xuất bản</th>
                                <th>Số điện thoại</th>  
                                <th>Số Lượng Sách</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.TenNhaXuatBan</td>
                                    <td><a href="tel:(+84)@item.SoDienThoai">@item.SoDienThoai</a></td>
                                    <td>@item.Saches.Count()</td>
                                    <td>
                                        <a class="btn btn-default btn-xs btn-editnhaxuatban" asp-action="SuaNhaXuatBan" asp-controller="QuanLyNhaXuatBan" asp-route-id="@item.Id">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a asp-action="XoaNhaXuatBan"asp-controller="QuanLyNhaXuatBan" asp-route-id="@item.Id" class="btn btn-danger btn-xs">
                                            <i class="fa fa-fw fa-remove"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xs-12">
            <div class="box box-success">
                <form asp-action="ThemNhaXuatBan" asp-controller="QuanLyNhaXuatBan" ID="frm_Themnhaxuatban" method="POST">
                    <div class="box-head">
                        <legend>THÊM NHÀ XUẤT BẢN MỚI</legend>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="ThemTenNhaXuatBan">Tên nhà xuất bản</label>
                            <input type="text" id="ThemTenNhaXuatBan" name="TenNhaXuatBan" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="ThemSoDienThoaiNhaXuatBan">Số điện thoại</label>
                            <input type="tel" pattern="[0-9]*" id="ThemSoDienThoaiNhaXuatBan" name="SoDienThoai" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Thêm</button>
                    </div>
                </form>
            </div>
            <div class="box box-info box-suanhaxuatban" style="display:none" data-widget="box-widget">
                <div class="box-header">
                    <h3 class="box-title">SỬA NHÀ XUẤT BẢN</h3>
                    <div class="box-tools">
                        <button class="btn btn-box-tool" data-widget="hidden" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <form asp-action="SuaNhaXuatBan" asp-controller="QuanLyNhaXuatBan" id="frm_suanhaxuatban">
                        <div class="form-group">
                            <label for="suanhaxuatban_id">Mã Nhà xuất bản</label>
                            <input type="text" class="form-control" name="Id" id="suanhaxuatban_id" readonly>
                        </div>
                        <div class="form-group">
                            <label for="suanhaxuatban_Ten">Tên nhà xuất bản</label>
                            <input type="text" class="form-control" name="TenNhaXuatBan" id="suanhaxuatban_Ten">
                        </div>
                        <div class="form-group">
                            <label for="suanhaxuatban_SoDienThoai">Điện thoại</label>
                            <input type="tel" class="form-control" name="SoDienThoai" id="suanhaxuatban_SoDienThoai">
                        </div>
                        <button type="submit" class="btn bg-aqua">Sửa</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
@section Scripts
{
    <script>
    $(function()
    {
        var datatable = $("#tb_nhaxuatban").DataTable();
        $("#tb_nhaxuatban").on("click",".btn-editnhaxuatban", function(e)
        {
            e.preventDefault();
            var data = datatable.row($(this).parents("tr")).data();
            $("#suanhaxuatban_Ten").val(data[1]);
            $("#suanhaxuatban_id").val(data[0]);
            var action = "/Admin/QuanLyNhaXuatBan/SuaNhaXuatBan/" + data[0];
            $("form#frm_suanhaxuatban").attr("action",action);
            $(".box-suanhaxuatban").slideDown();
        });
        @if(ViewData["Message"]!=null)
        {
            @:alert("@ViewData["Message"]");
        }

        $("button[data-widget='hidden']").click(function(e)
        {
            e.preventDefault();
            $(this).parents("div[data-widget='box-widget']").fadeToggle();
        });
    })
    
    </script>
}